<h1>Login</h1>

<div class="auth-container">
  <h2>Entrar</h2>
  <form action="/login" method="post">
    <div class="form-control">
      <label for="emai">E-mail:</label>
      <input type="email" name="email" placeholder="digite seu e-mail">
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="digite sua senha">
    </div>
    <input type="submit" value="Entrar">
    <p>Não possui conta? <a href="/register">criar conta</a> </p>
  </form>

</div>